/* navbars.js*/
.title{
  color:blue;
  text-align: center;
  padding: 2%;
}
.navheader{
  display: flex;
  justify-content: center;
}
iconlink{
  width: 30%;
  padding: 2%;
  background-color: aliceblue;
}
.navlinks{
  width:70%;
  padding:2%;
  display: flex;
  justify-content: end;
  background-color: aliceblue;
}
.tablink{
  width: 30%;
  background-color: aliceblue;
}