*{box-sizing: border-box;} /*preserve the 100% width of the screen*/
img{width: 100%;}
.header{
    background-color: aqua;
    display: flex;
}
.logo{
    width: 10%;
    border: solid  red 1px;
    padding: 1em;
    margin-left: 5%;
}
.title{
    width: 50%;
    border: solid blue 1px;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    color: darkblue;
    font-family: 'Franklin Gothic Medium';
}
.quicklinks{
    width: 20%;
    font-size: 1.5em;
    border: solid green 1px; 
    margin-left: auto;
    display: flex;
}
.quicklinks a{
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 1.2em 0.2em;
    text-decoration: none;
}
.quicklinks a:hover{
    opacity: 0.6;
    transform: scale(1.05);
}
/*NAVLINKS*/
.navlinks{
    width: 100%;
    background-color: aliceblue;
}
.navlinks a{
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    color: darkblue;
    text-decoration: none;
}
.navlinks a:hover{
    background-color: chartreuse;
}
/*MAIN - INTRO IMAGE*/
.introimage{
    position: relative;
}
.intro{
    position: absolute;
    bottom:20%;
    right:10%;
    background-color: rgba(200,200,200, 0.6);
    padding: 1em 2em;
    border-radius: 12px;
}
.intro h1{
    color: darkblue;
}
.into p{
    font-size: 1.2em;
}
/* CARDS */
.subtitle{
    text-align: center;
}
.cardscontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: auto;
    width: 30%;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 1%;
}
.card img{
    height: 300px;
}
.card p{
    padding: 1em;
}
.card a{
    display: block;
    background-color: darkblue;
    padding: 1em;
    color: whitesmoke;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}
.card a:hover{
    opacity: 0.6;
    font-size: 1,05em;
}



/* More code missing to be added later */


/* FOOTER */
.footer{
    margin-top: 2em;
    text-align: center;
    background-color: darkblue;
    color: azure;
    padding: 3em;
}